<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="AdoNetPractice" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AdoNetPractice;User Id=simbirsoft;Password=simbirsoft;" providerName="System.Data.SqlClient" />-->
    <add name="AdoNetPractice" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AdoNetPractice;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>